<header>
    <h1>Film Collection</h1>
    <nav>
        <a routerLink="/">Home</a>
        <a routerLink="/films">About</a>
    </nav>
</header>
<main>
    <div class="breadcrumps">
        <nav>
            <a routerLink="/">Breadcrump</a>
            <a routerLink="/films">Breadcrump</a>
        </nav>
    </div>
    <router-outlet></router-outlet>
</main>
<footer>
    <p>2026</p>
    <p>Dzmitry Aliakseyeu</p>
    <a href="https://github.com/DzmitryAliakseyeu" target="_blank">GitHub</a>
</footer>

