<header>
    <h1>Film Collection</h1>
    <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/about">About</a>
    </nav>
</header>
<main>
    <div class="breadcrumbs">
        <nav>
            @if (isDetailsPage()) {
                <span><a routerLink="/home">Home</a></span>
                <span> - </span>
                <span>
                    {{ currentFilmTitle() }}
                </span>
            } @else if (isAboutPage()) {
                <span>About</span>
            } @else if (isHomePage()) {
                <span>Home</span>
            } @else {
                <span><a routerLink="/home">Home</a></span>
            }
        </nav>
    </div>
    <router-outlet></router-outlet>
</main>
<footer>
    <p>2026</p>
    <p>Dzmitry Aliakseyeu</p>
    <a href="https://github.com/DzmitryAliakseyeu" target="_blank">GitHub</a>
</footer>

