:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: #fff;
        transition: all 0.3s ease;
        padding: 10px;
    }
    span {
        font-size: 1.5rem;
        font-weight: bold;
        color: #fff;
    }
    a:hover {
        transform: scale(1.4);
    }
    .breadcrumbs {
       
        display: flex;
        gap: 20px;
        margin: 5px 20px;
        padding: 5px;
        border-radius: 5px;
         background-color: #0000008a;
         width: fit-content;
        span {
            font-size: 1rem;
           
         
        }
        a {
            padding: 0;
            display: inline-block;
      
        }
        a:hover {
            transform: scale(1.1);
        }

    }
    nav {
        display: flex;
        gap: 20px;
    }

  

}