:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 250px;
    border: 1px solid #000;
    border-radius: 10px;
    .toggle {
        background-color: #ffa81c;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 0 0 10px 10px;
        cursor: pointer;
    }
}